body {
	font-family: default;
	font-size: default;
	padding: 0px;
	margin: 0px;
}
div {
	background-color: yellow;
	padding: 6px;
	position: absolute;
	width: 80%;
	height: 1000px;
	z-index: -1;
}
#p1 {
	background-color: blue;
	width: 200px;
	position: absolute;
	left: 100px;
	top: 20px;
	z-index: 1;
}
#p2 {
	background-color: green;
	width: 250px;
	margin: 0px auto;
	position: absolute;
	left: 120px;
	bottom: 130px;
	z-index: 1;
}