*
{
	padding:0px;
	margin:0px;
}
body>div
{
	background-color:green;
	padding:2px;
	width:400px;
	border:1px solid black;
	margin:2px;	
	position:relative;
}
p
{	
	border:1px solid black;
	margin:3px; 
	/* width:100px; */

}
p:first-child
{	
	background-color:yellow;
}
p:last-child
{
	background-color:plum;
	float:left;
	margin-top:-6px; 
}
div>div
{
	height:10px;
}
/* p:last-child
{	
	background-color:orange;
	
} */


/* p:last-child
{
	height:90px;
} */