*
{
	padding : 0px;
	margin : 0px;
}

body
{
	max-width : 800px;
	margin : auto;
	margin-bottom : 30px;
}

h1
{
	margin-top : 20px;
	border-bottom : 2px dashed gray;
	text-align : center;
	color : blue;
	text-transform : uppercase;
	font-weight : bold;
}

p
{
	position : relative;
	margin-top : 10px;
}

a
{
	display : block;
	margin-top : 10px;
}
