*
{
	padding:0px;
	margin:0px;
}
div
{
	width:400px;
	background-color:palegreen;
	padding:5px;
} 

p
{
	
	background-color:plum;
	margin:5px;
	border: 1px solid black; 
}
p:first-child
{
	background-color:yellow;
	float:left;
}